@use '../scss/' as *;
// Styling header 
.navItems{
    .navText{
        a{
            position: relative;
           
            &::before, &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                background-color:$primary_color;
                transition: .5s;
                opacity: 0;
                
            }
            &::before{
                top:0;
                left:0;
            }
            &::after{
                bottom:0;
                right:0;
            }
            &:hover::before,&:hover::after{
                opacity: 1;
                width: 100%;
                transition: 0.5s;
            }
            &:focus::before,&:focus::after{
                opacity: 1;
                width: 100%;
                transition: 0.5s;
            }
            

        }
    }
}
.topbar{
    width: 100%;
    height: 70px;
    background-color: $background_color;
    position: fixed;
    top: 0;
    z-index: 100;
    color: $text_color;
    transition: all 1s ease;
    .wrapper{
        padding:10px 30px; //first value is for top and bottom and second value is for left and right 
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .right{
        
            
            .hamburgermenu{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    width: 100%;
                    height:3px;
                    background-color: $primary_color;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }
    &.active{
        background-color: $background_color;
    
        .hamburgermenu{
            span{
                &:first-child{
                    background-color: $primary_color;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: $primary_color;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
// Styling menu Open
.menu{
    background-color: $background_color;
    margin-top: $header_height;
    width: 100%;
    position:relative;
    top: -260px;
    transition: all 1s ease;
    z-index: 1;
}
.menu_active{
    background-color: $background_color;
    margin-top: $header_height;
    width: 100%;
    position:relative;
    top:0px;
    transition: all 1s ease;
    z-index: 1;
}
// Styling Home
.home{
    padding-top: 70px;
}
.home_image{
    width: 100%;
    height: 400px;
    &:hover{
        background-size: cover;
        transition: all 2s ease;
        animation: fade 5s;
    }

@keyframes fade {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}
}
//Styling About Component
.resume_link{
     a{
        text-decoration: none;
        color: $primary_color;
        font-weight: bold;
        font-size: large;
        line-height: 3;
}
}
.contact_btn{

     button{
        cursor: pointer;
        color:$text_color;
        background-color: $primary_color;
        border: none;
        outline: none;
    }
}
// Skills Component Styling
.skills{
    &_container{
        .skills_header{
            h1{
                font-size: 70px;
            }
        }
    }
}
.col_first ,.col_second{
    border-right: 1px solid $primary_color;
    @include mobile{
        border-bottom: 1px solid $primary_color ;
        border-right: none;
    }
}
.skill_title{
    font-size: 20px;
    color: $primary_color;
}
//Styling Contact Component
.contact_input{
    input{
        height: 40px;
    }
    input, textarea{
        border: 1px solid $primary_color;
        outline: none;
        border-radius: 5px;
        padding: 5px;
    }
    button{
        cursor: pointer;
        color:$text_color;
        background-color: $primary_color;
        border: none;
        outline: none;
    }
}
.contact_address, .contact_email{
    .contact_used_icon{
        color:$primary_color;
    }
    .contact_used_text{
        line-height: 0.7;
        position: relative;
        z-index: 1;
    }
}
.sent_email_image_container{
    position: relative;
    top: -120px;
    z-index: 0;
    left: -50px;
}
// Styling footer components
.footer{
    background-color: $background_color;
}
.footer_container{
    min-height: 60px;
    &_left{
        &_links{
            a{
                text-decoration:'none';
                transition: all .5s ease;
                &:hover{
                    color:$primary_color;
                }
            }
        }

    }
    &_right{
        font-size: x-small;
        span{
            color:$primary_color;
        }
    }

}
.social_media_link{
    color:white;
    
}
//Styling Share
.share_open{
    position: relative;
    top:70px;
    background-color: $background_color;
    width: fit-content;
    padding:10px 20px;
    right:0px;
    float:right;
    transition: all 1s ease;
    ul{
        list-style: none;
        margin: 0;
        padding:0;
        li{
            color: white;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color:$primary_color;
                }
            }
        }
    }
}
.share_close{
    position: relative;
    top:70px;
    background-color: $background_color;
    width: fit-content;
    padding:10px 20px;
    right:-250px;
    float:right;
    transition: all 1s ease;
    ul{
        list-style: none;
        margin: 0;
        padding:0;
        li{
            color: white;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color:$primary_color;
                }
            }
        }
    }
}