@mixin flex($aligin-item, $justify-content) {
    display: flex;
    align-items: $aligin-item;
    justify-content: $justify-content;
}
$width:768px;

@mixin mobile {
    @media(max-width: #{$width}){
        @content
    }
   
}